/* Import Gotham font files */
@font-face {
  font-family: 'Gotham';
  src: url('gotham-book.woff2') format('woff2'),
       url('gotham-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Use Gotham font */
body {
  font-family: 'Gotham', sans-serif;
}
body {
  background-color: cyan;
  color: #008000; /* Green color */
  font-family: 'Gotham', sans-serif;

}

h1 {
  font-size: 3rem;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
}

input[type="text"],
input[type="password"] {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #111;
  color: #00ff00;
}

button[type="submit"] {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #00ff00;
  color: black;
  font-weight: bold;
  cursor: pointer;
  
}

button[type="submit"]:hover {
  background-color: #007F00;
  
}

form {
  margin-top: 2rem;
  max-width: 20rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #222;
}