<!DOCTYPE html>
<html>
<head>
    <title>Create an account!</title>
</head>
<body>
    <div>
        <div class="title">
            <h1>Registeration: Enter your information below</h1>
        </div>
        <form method="post" action="{{ url_for('start') }}">
            <label for="email">Enter your email:</label>
            <input type="email" name="email",required="true" /><br />

            <label for="password">Enter password:</label>
            <input type="password" name="password",required="true" /><br />

            <input type="submit" />
        </form>


<a href='/login'>Already has an account?login click here</a>

<script src="script.js"></script>

    </div>
    <body onLoad="onPageLoad()">
        <div class ="col">
          <div class="mb-3">
            <label for="clientId" class="form-label">Client ID</label>
            <input type="text" class="form-control" id="clientId" placeholder="">
          </div>
          
          <div class="mb-3">
            <label for="clientSecret" class="form-label">Client Secret</label>
            <input type="text" class="form-control" id="clientSecret" placeholder="">
          </div>
          <input class="btn btn-primary btn-lg" type="button" onclick="requestAuthorization()" value="Request Authorization"><br/>
        </div>
      </body>
</body>

</html>